# Random forest

## Create and train the model

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_curve
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
# Load the dataset for training (with labels)
df = pd.read_csv('../pre_processing_and_viz/df_train.csv')
df

,ID,Age,Gender,MMSE,Site,label,label_id,site_id,Delta-1:4,Theta-4:8,Alpha-8:13,Beta-13:30,Gamma-30:40,gender_id
0,hokuto_dementia1,60,M,13,A,dementia,2,0,1.527738e+03,1.400718e+03,1.223784e+03,3.281070e+03,1.531131e+03,1
1,hokuto_dementia2,64,M,17,B,dementia,2,1,0.000000e+00,1.470078e+06,0.000000e+00,2.326050e+06,1.262857e+06,1
2,hokuto_dementia3,69,F,9,A,dementia,2,0,1.278396e+03,1.214818e+03,1.133075e+03,3.814643e+03,1.928315e+03,0
3,hokuto_dementia4,70,M,22,B,dementia,2,1,0.000000e+00,3.975737e+05,0.000000e+00,6.295413e+05,3.441654e+05,1
4,hokuto_dementia5,73,M,18,A,dementia,2,0,9.715404e+03,8.743269e+03,7.358837e+03,1.555337e+04,3.254478e+03,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,hokuto_control96,80,M,27,B,control,0,1,0.000000e+00,3.654249e+04,0.000000e+00,5.970315e+04,3.707580e+04,1
140,hokuto_control97,81,M,28,B,control,0,1,0.000000e+00,5.084338e+05,0.000000e+00,8.046457e+05,4.396953e+05,1
141,hokuto_control98,81,M,27,A,control,0,0,1.813328e+06,1.743510e+06,1.624769e+06,4.545834e+06,1.305148e+06,1
142,hokuto_control99,85,M,28,B,control,0,1,0.000000e+00,1.776107e+05,0.000000e+00,2.819723e+05,1.563449e+05,1
143,hokuto_control100,87,M,28,B,control,0,1,0.000000e+00,1.300151e+05,0.000000e+00,2.078772e+05,1.178585e+05,1

In [28]:

# drop mmse because this feature is not given in the df_test. Drop Site because its only implies a sample freq different which is already taken into account for the features extraction


features = df.drop(['ID', 'label', 'label_id', 'Site', 'Gender', 'MMSE'], axis=1)

features.head()

features

,Age,site_id,Delta-1:4,Theta-4:8,Alpha-8:13,Beta-13:30,Gamma-30:40,gender_id
0,60,0,1.527738e+03,1.400718e+03,1.223784e+03,3.281070e+03,1.531131e+03,1
1,64,1,0.000000e+00,1.470078e+06,0.000000e+00,2.326050e+06,1.262857e+06,1
2,69,0,1.278396e+03,1.214818e+03,1.133075e+03,3.814643e+03,1.928315e+03,0
3,70,1,0.000000e+00,3.975737e+05,0.000000e+00,6.295413e+05,3.441654e+05,1
4,73,0,9.715404e+03,8.743269e+03,7.358837e+03,1.555337e+04,3.254478e+03,1
...,...,...,...,...,...,...,...,...
139,80,1,0.000000e+00,3.654249e+04,0.000000e+00,5.970315e+04,3.707580e+04,1
140,81,1,0.000000e+00,5.084338e+05,0.000000e+00,8.046457e+05,4.396953e+05,1
141,81,0,1.813328e+06,1.743510e+06,1.624769e+06,4.545834e+06,1.305148e+06,1
142,85,1,0.000000e+00,1.776107e+05,0.000000e+00,2.819723e+05,1.563449e+05,1
143,87,1,0.000000e+00,1.300151e+05,0.000000e+00,2.078772e+05,1.178585e+05,1

In [89]:
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Préparation des caractéristiques et des étiquettes
features = df.drop(
    ['ID', 'label', 'label_id', 'Site', 'Gender', 'MMSE'], axis=1)
labels = df['label_id']

# Normalisation des caractéristiques
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features)

# Application de PCA pour réduire la dimensionnalité
pca = PCA(n_components=0.9)
features_reduced = pca.fit_transform(features_scaled)

# Initialisation du classificateur Random Forest
rf = RandomForestClassifier(n_estimators=50)

# Stratified K-Fold pour maintenir la proportion de chaque classe dans chaque pli
kf = StratifiedKFold(n_splits=10, shuffle=True)

# Utiliser cross_val_score pour effectuer la validation croisée
scores = cross_val_score(rf, features_reduced, labels,
                         cv=kf, scoring='accuracy')

print(f"Cross-validation scores: {scores}")
print(f"Mean accuracy: {scores.mean()}")

Cross-validation scores: [0.93333333 0.66666667 0.66666667 0.86666667 0.85714286 0.92857143
 1.         0.85714286 0.78571429 0.92857143]
Mean accuracy: 0.849047619047619

## Use the trained model to predict the test data

In [30]:
df_test = pd.read_csv('../pre_processing_and_viz/df_test.csv')
df_test.head()

,ID,Age,Gender,Site,gender_id,site_id,label,label_id,Delta-1:4,Theta-4:8,Alpha-8:13,Beta-13:30,Gamma-30:40
0,hokuto_test1,64,M,A,1,0,NaN,NaN,2.564830e+07,2.522521e+07,2.451852e+07,8.550627e+07,4.428985e+07
1,hokuto_test2,70,F,A,0,1,NaN,NaN,2.838066e+03,2.804487e+03,2.718521e+03,8.439152e+03,2.834072e+03
2,hokuto_test3,61,F,B,0,0,NaN,NaN,0.000000e+00,1.525385e+04,0.000000e+00,2.620135e+04,1.867067e+04
3,hokuto_test4,83,F,B,0,1,NaN,NaN,0.000000e+00,2.093090e+04,0.000000e+00,3.685960e+04,2.663569e+04
4,hokuto_test5,71,M,A,1,0,NaN,NaN,3.368586e+02,3.468851e+02,3.629394e+02,1.620425e+03,1.151548e+03

In [31]:
X_test = df_test.drop(
    ['ID', 'label', 'label_id', 'Site', 'Gender', 'label', 'label_id'], axis=1)
display(X_test.head())
scaler = StandardScaler()
X_test = scaler.fit_transform(X_test)
pca = PCA(n_components=0.9)
X_test_reduced = pca.fit_transform(X_test)

X_test_reduced

,Age,gender_id,site_id,Delta-1:4,Theta-4:8,Alpha-8:13,Beta-13:30,Gamma-30:40
0,64,1,0,2.564830e+07,2.522521e+07,2.451852e+07,8.550627e+07,4.428985e+07
1,70,0,1,2.838066e+03,2.804487e+03,2.718521e+03,8.439152e+03,2.834072e+03
2,61,0,0,0.000000e+00,1.525385e+04,0.000000e+00,2.620135e+04,1.867067e+04
3,83,0,1,0.000000e+00,2.093090e+04,0.000000e+00,3.685960e+04,2.663569e+04
4,71,1,0,3.368586e+02,3.468851e+02,3.629394e+02,1.620425e+03,1.151548e+03

array([[ 1.43896839e+01,  6.19821414e-02, -4.96615323e-01,
        -6.31214539e-02],
       [-5.42511903e-01,  1.03105080e+00, -5.91980194e-01,
        -1.68252887e-01],
       [-3.12837580e-01,  1.87153659e-01, -5.39467069e-02,
         1.73785946e+00],
       [-6.27165270e-01,  2.17879131e-01, -1.05021614e+00,
        -9.05098087e-01],
       [-1.26613759e-01, -8.53499751e-01,  1.48033437e+00,
         4.26448394e-01],
       [-5.53116596e-01,  7.81528258e-01, -7.34909661e-01,
        -3.96367075e-01],
       [-5.21355461e-01,  1.21876978e+00, -4.86455995e-01,
         1.66151650e-03],
       [-2.78760347e-01,  2.42867277e-01,  1.07680571e+00,
        -1.25753901e+00],
       [-4.11406112e-01,  2.21985146e+00,  7.68043665e-02,
         9.08031024e-01],
       [-2.87746680e-01,  4.37305749e-01,  8.71382545e-02,
         1.96469732e+00],
       [-4.94042125e-01,  5.35033915e-01, -8.86711419e-01,
        -6.30619385e-01],
       [-5.06778082e-01, -1.56482977e+00, -1.03951763e+00,
         1.51906724e-01],
       [-2.67628867e-01,  6.24993070e-01,  1.92828260e-01,
         2.13467031e+00],
       [-4.65905493e-01, -1.18943505e+00, -8.28237725e-01,
         4.91815467e-01],
       [-5.12027593e-01, -1.62734467e+00, -1.07497270e+00,
         9.51608656e-02],
       [-1.81741243e-01, -1.41632381e+00,  1.16262520e+00,
        -8.39546808e-02],
       [-9.78073678e-02, -6.65436772e-01,  1.58491309e+00,
         5.95661333e-01],
       [-4.03203889e-01, -6.26299948e-01, -5.11538878e-01,
         1.00159893e+00],
       [-2.13538939e-01, -1.66680177e+00,  1.02230890e+00,
        -3.10119274e-01],
       [-7.06204643e-01, -4.70532885e-01, -1.43706424e+00,
        -1.52787908e+00],
       [-2.45736893e-01, -8.68563968e-01, -6.75993362e-01,
         7.58836702e-01],
       [-4.99267628e-02, -5.84924207e-02,  8.67373627e-01,
        -1.56405896e+00],
       [-5.17301691e-01, -1.68982050e+00, -1.11032412e+00,
         3.83168815e-02],
       [-2.00625691e-01, -1.54168313e+00,  1.09287068e+00,
        -1.96797100e-01],
       [-3.04929005e-01,  7.92359257e-01, -7.66399759e-01,
        -4.18338977e-01],
       [-4.27886021e-01, -8.76428445e-01, -6.52661214e-01,
         7.74710115e-01],
       [-2.37633679e-01, -1.91690651e+00,  8.81107303e-01,
        -5.37055251e-01],
       [-3.50526446e-01, -2.50371455e-01, -3.01710564e-01,
         1.34041770e+00],
       [ 1.32521454e-01, -9.04457443e-01,  1.41138270e+00,
         3.46247812e-01],
       [-6.10412183e-01,  4.05415720e-01, -9.44108876e-01,
        -7.34817865e-01],
       [-2.04511717e-01,  1.24224474e+00,  1.64423028e+00,
        -3.47645964e-01],
       [-6.38025791e-01,  9.27882529e-02, -1.12119462e+00,
        -1.01844123e+00],
       [-6.01825254e-01,  1.56719566e-01, -1.08950089e+00,
        -9.64604967e-01],
       [ 4.83414434e-01,  8.98480153e-01,  1.34000554e+00,
        -7.51476270e-01],
       [-2.37802162e-01,  1.05414164e+00,  1.54060946e+00,
        -5.16848522e-01],
       [-2.08520722e-01,  1.30446802e+00,  1.68114115e+00,
        -2.90359788e-01],
       [-4.39674863e-01,  1.96955679e+00, -6.38869892e-02,
         6.81483523e-01],
       [-5.39136690e-01,  1.03115814e+00, -5.92508472e-01,
        -1.68451777e-01],
       [-2.81010478e-01, -1.31820127e-01,  8.58170485e-01,
        -1.59839705e+00],
       [-3.02759803e-01,  3.12130044e-01,  1.69291068e-02,
         1.85147622e+00],
       [-5.82713371e-01,  6.55678684e-01, -8.03362149e-01,
        -5.08203601e-01],
       [-5.14268640e-01,  8.45492168e-01, -7.03760863e-01,
        -3.42552040e-01]])

In [32]:
# Faire des prédictions
predicted_labels = rf.predict(X_test_reduced)
display(predicted_labels)

ValueError: X has 4 features, but RandomForestClassifier is expecting 1 features as input.

# TEST SMOTE technique

In [ ]:
X = features 
y = df['label_id']

0      2
1      2
2      2
3      2
4      2
      ..
139    0
140    0
141    0
142    0
143    0
Name: label_id, Length: 144, dtype: int64